nav li{
    list-style-type: none;
    
}

nav a{
    text-decoration: none;
}

.fa-solid{
    color: rgb(37, 73, 183);
    cursor: pointer;
   
}

#user:hover, #admin:hover{
    font-weight: 700;

}

.custom{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid transparent;

}